$main-color: #7ca1c8;
body{
    background-color: $main-color;
    header{
        width: 100vw;
        height: 20vh;
        background-color: cadetblue;
        h1{
            color: blueviolet;
        }
    }
}